@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

@font-face {
  font-family: headers;
  src: url("./d2.ttf");
}

@font-face {
  font-family: logo;
  src: url("./d3.ttf");
}

header {
  padding: 1.5rem 0;
}

body.auth-false .auth-false {
  display: block;
}

body.auth-false .auth-true {
  display: none;
}

body.auth-true .auth-false {
  display: none;
}

body.auth-true .auth-true {
  display: block;
}

[file-drop] {
  position: relative;
  border: 1px solid transparent;
}

.img-preview > div,
[file-drop-preview] div {
  display: inline-block;
  position: relative;
}

.img-preview img,
[file-drop-preview] img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.img-preview > div,
[file-drop-preview] > div {
  margin: 0.25em;
}

.img-preview > div:after,
[file-drop-preview] > div:after {
  content: 'Click to remove!';
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  color: #fff;
  padding: 0.5em;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 0.65em;
}

.img-preview > div:hover:before,
[file-drop-preview] > div:hover:before {
  opacity: 0.7;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}

.img-preview > div:before,
[file-drop-preview] > div:before {
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
  font-size: 1.6em;
  content: '❌';
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.001);
          transform: translateX(-50%) translateY(-50%) scale(0.001);
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;
  opacity: 0;
}

.solid-border:after {
  border: 1px dashed #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  content: 'Drop Files Here!';
  text-align: center;
  line-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buttonsGlob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.edit {
  background-color: #7e2525;
  color: #f5f5f5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2vh 5vw;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.edit:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.containeer {
  min-height: 100%;
  z-index: -1;
}

.containeer .cooleer {
  z-index: -2;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  background-color: #2e2e2e;
}

.containeer .backgrounds {
  z-index: -1;
  position: fixed;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #100f11;
}

.containeer .backgrounds .background {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}

.containeer .katikati {
  min-height: 95vh;
  position: relative;
}

.containeer .katikati .page {
  min-height: 95vh;
}

.containeer .katikati #homepage {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .katikati #homepage img {
  height: 20vh;
}

.containeer .katikati #homepage .manythings {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  min-height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containeer .katikati #homepage .manythings .meImg {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .meImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .meImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.containeer .katikati #homepage .manythings .slidecont {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 30vh;
  width: 100%;
  position: relative;
}

.containeer .katikati #homepage .manythings .slidecont #cardFaker {
  position: relative;
  width: 100%;
  opacity: 0;
}

.containeer .katikati #homepage .manythings .slidecont .cardSLTT {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
}

.containeer .katikati #homepage .manythings .slidecont .cardSLTT svg {
  width: 40%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont .cardSLTT svg {
    width: 70%;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont .cardSLTT svg {
    width: 70%;
  }
}

.containeer .katikati #homepage .manythings .slidecont .cardSLTT .title {
  width: 30%;
  background-color: #333d49;
  margin: 10px auto;
  color: #f5f5f5;
  padding: 7px;
  border-radius: 2px;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont .cardSLTT .title {
    width: 60%;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont .cardSLTT .title {
    width: 60%;
  }
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .slidecont {
    margin-top: 5vh;
  }
}

.containeer .katikati #homepage .manythings .slogan {
  font-family: headers;
  margin-top: 30px;
}

.containeer .katikati #homepage .manythings .news {
  margin-top: 20px;
  background-color: #bdbfc198;
  cursor: pointer;
}

.containeer .katikati #homepage .manythings .news:hover {
  background-color: #bdbfc1;
}

.containeer .katikati #homepage .manythings .news #shortNews {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containeer .katikati #homepage .manythings .news #shortNews .mini {
  background-color: #6B809B;
  max-height: 70px;
  width: 30%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  border-radius: 7px;
  cursor: pointer;
}

.containeer .katikati #homepage .manythings .news #shortNews .mini .imggg img {
  height: 60px;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .news #shortNews .mini {
    width: 80%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .news #shortNews .mini {
    width: 80%;
  }
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .manythings .news #shortNews {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .manythings .news #shortNews {
    display: -ms-grid;
    display: grid;
  }
}

.containeer .katikati #homepage .withlogo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.116)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.116));
  min-height: 100%;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containeer .katikati #homepage .withlogo img {
  margin: 0 auto;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .withlogo img {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .withlogo img {
    display: none;
  }
}

.containeer .katikati #homepage .withlogo .menusSlid {
  position: relative;
  color: #6B809B;
}

.containeer .katikati #homepage .withlogo .menusSlid .fullmenu {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 10px;
  background-color: #333d49;
  color: #ffffff;
  cursor: pointer;
  z-index: 400;
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.containeer .katikati #homepage .withlogo .menusSlid .holders .carddd {
  background-color: #333d49;
  display: -ms-grid;
  display: grid;
  text-align: justify;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("../menus/mongolia.jpg");
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .img {
    height: 40vh;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .img {
    height: 40vh;
  }
}

.containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .texttt {
  margin: 5px 2vw 5px 5px;
}

.containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .texttt h3 {
  font-family: headers;
  color: #e27900;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
  font-size: larger;
  text-align: center;
}

.containeer .katikati #homepage .withlogo .menusSlid .holders .carddd .texttt h4 {
  text-align: center;
  color: #BDBFC1;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage .withlogo .menusSlid .holders .carddd {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage .withlogo .menusSlid .holders .carddd {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.containeer .katikati #homepage .withlogo .booknow {
  background-color: #e27900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #homepage {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #homepage {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.containeer .katikati #adminpage {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.containeer .katikati #adminpage #login .card {
  background-color: #ffffffe5;
  max-width: 300px;
  margin: auto auto;
  padding: 30px;
  border-radius: 5px;
}

.containeer .katikati #adminpage #login .card img {
  width: 5vw;
  margin: 2vh 0 4vh 0;
}

.containeer .katikati #adminpage #login .card .inputs input {
  min-height: 45px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100%;
  min-width: 100%;
  border: 1px solid #2b3990;
}

.containeer .katikati #adminpage #login .card .inputs input:focus {
  outline: none;
  border: 2px solid #2b9069;
}

.containeer .katikati #adminpage #login .card .button {
  background-color: black;
  color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 45px;
  min-height: 35px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.containeer .katikati #adminpage #login .card .button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02) translateY(-10%);
          transform: scale(1.02) translateY(-10%);
}

.containeer .katikati #adminpage #login .card p {
  margin-top: 30px;
  cursor: pointer;
}

.containeer .katikati #adminpage #login .card p:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02) translateY(-10%);
          transform: scale(1.02) translateY(-10%);
  font-weight: bolder;
  text-decoration: underline;
}

.containeer .katikati #adminpage #admincontent {
  text-align: center;
}

.containeer .katikati #adminpage #admincontent p {
  padding: 10px;
  background-color: black;
  color: orange;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto;
  border-radius: 5px;
  cursor: pointer;
}

.containeer .katikati .islanderTemplate {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.945)), color-stop(rgba(0, 0, 0, 0.637)), color-stop(rgba(0, 0, 0, 0.877)), color-stop(rgba(0, 0, 0, 0.884)), color-stop(rgba(0, 0, 0, 0.438)), to(rgba(0, 0, 0, 0.253)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.253));
}

.containeer .katikati .islanderTemplate .kititle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  grid-auto-rows: 1fr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.containeer .katikati .islanderTemplate .kititle .textMob {
  padding: 0 0 0 5vw;
}

.containeer .katikati .islanderTemplate .kititle .textMob .kilogo {
  padding: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 6px orange, 0px 0px 35px rgba(121, 72, 0, 0.842), 0px 0px 50px rgba(255, 177, 32, 0.486), 0px 0px 55px rgba(255, 174, 0, 0.486), 2px -2px 0 #000, -2px 2px 0 #000, 1px 2px 0 #000;
}

.containeer .katikati .islanderTemplate .kititle .textMob .kilogo img {
  width: 6vw;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .textMob .kilogo img {
    width: 20vw;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .textMob .kilogo img {
    width: 20vw;
  }
}

.containeer .katikati .islanderTemplate .kititle .textMob .description {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  color: #07061b;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .textMob {
    padding: 0 5vw 0 5vw;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .textMob {
    padding: 0 5vw 0 5vw;
  }
}

.containeer .katikati .islanderTemplate .kititle .placephoto {
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .placephoto {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle .placephoto {
    display: none;
  }
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .kititle {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.containeer .katikati .islanderTemplate .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5vh 6vw;
  width: 100%;
}

.containeer .katikati .islanderTemplate .photos div {
  width: 27vw;
  height: 40vh;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px rgba(231, 228, 221, 0.788), 0px -2px 6px rgba(243, 226, 200, 0.541);
          box-shadow: 0px 2px 3px rgba(231, 228, 221, 0.788), 0px -2px 6px rgba(243, 226, 200, 0.541);
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .photos div {
    display: -ms-grid;
    display: grid;
    width: 90vw;
    margin: 20px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .photos div {
    display: -ms-grid;
    display: grid;
    width: 90vw;
    margin: 20px auto;
  }
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati .islanderTemplate .photos {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati .islanderTemplate .photos {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.containeer .katikati #eventsNewspage {
  display: block;
}

.containeer .katikati #eventsNewspage .newsHead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .katikati #eventsNewspage .newsHead .logoTitle {
  padding: 10px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 6px orange,  -1px -1px 0 #000,   2px -2px 0 #000, -2px 2px 0 #000, 1px 2px 0 #000;
}

.containeer .katikati #eventsNewspage .newsHead .logoTitle img {
  width: 50px;
}

.containeer .katikati #eventsNewspage .newsHead .socialMedia {
  background-color: #2e3057d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containeer .katikati #eventsNewspage .newsHead .socialMedia img {
  height: 25px;
}

.containeer .katikati #eventsNewspage #pictureDisplay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #BDBFC1;
  z-index: 1001;
  display: none;
}

.containeer .katikati #eventsNewspage #pictureDisplay .imgholder2 {
  background-color: #BDBFC1;
  min-width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

.containeer .katikati #eventsNewspage #pictureDisplay .imgholder2 img {
  height: 100vh;
}

.containeer .katikati #eventsNewspage #pictureDisplay .close {
  z-index: 1020;
  position: absolute;
  top: 5vw;
  right: 5vw;
  background-color: #BDBFC1;
  border: 50%;
  padding: 7px;
  cursor: pointer;
}

.containeer .katikati #eventsNewspage #pictureDisplay .provius {
  position: absolute;
  top: 50%;
  left: 5vw;
  background-color: #BDBFC1;
  border: 50%;
  padding: 7px;
  cursor: pointer;
}

.containeer .katikati #eventsNewspage #pictureDisplay .next {
  position: absolute;
  top: 50%;
  right: 5vw;
  background-color: #BDBFC1;
  border: 50%;
  padding: 7px;
  cursor: pointer;
}

.containeer .katikati #eventsNewspage #newsBody {
  min-height: 90vh;
  background-color: #BDBFC1;
  padding: 10px;
}

.containeer .katikati #eventsNewspage #newsBody .pleasewait {
  margin: auto auto;
  text-align: center;
}

.containeer .katikati #eventsNewspage #newsBody .carrd {
  background-color: #BDBFC1;
  margin: 0 auto 15px auto;
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 20px 5vw 0 5vw;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .title {
  font-size: larger;
  font-weight: bolder;
  text-transform: uppercase;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .from, .containeer .katikati #eventsNewspage #newsBody .carrd .to {
  font-size: smaller;
  color: #757575;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .smallsc .holder {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .smallsc .holder .imgholder {
  width: 20%;
  margin: 5px;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .smallsc .holder .imgholder img {
  width: 100%;
  margin: 5px;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .doo {
  background-color: #dbb610;
  color: #1f0a0a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2vh auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .doo:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.containeer .katikati #eventsNewspage #newsBody .carrd .free {
  background-color: #c7c700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  margin: 2vh auto;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.containeer .katikati #eventsNewspage #newsBody .carrd .free:hover {
  background-color: #d3d325;
  color: #000000;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.containeer .katikati #eventsNewspage #newsBody .carrd .maneno {
  text-align: justify;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #eventsNewspage #newsBody .carrd {
    width: 95%;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #eventsNewspage #newsBody .carrd {
    width: 90%;
  }
}

.containeer .katikati #eventsNewspage .uploaders {
  background-color: #BDBFC1;
  display: none;
}

.containeer .katikati #eventsNewspage .uploaders .events {
  background-color: #ffffffe5;
  max-width: 600px;
  margin: 5vh auto;
  padding: 30px;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

.containeer .katikati #eventsNewspage .uploaders .events h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #eventsNewspage .uploaders .events h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #eventsNewspage .uploaders .events h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.containeer .katikati #eventsNewspage .uploaders .events .holders {
  margin: 2vh 0;
}

.containeer .katikati #eventsNewspage .uploaders .events .holders input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: blue;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #2b3990;
}

.containeer .katikati #eventsNewspage .uploaders .events .holders textarea {
  outline: none;
  width: 100%;
  resize: none;
  height: 150px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 5px;
}

.containeer .katikati #eventsNewspage .uploaders .events #photodisplas, .containeer .katikati #eventsNewspage .uploaders .events #photodisplasNews {
  min-height: 50px;
}

.containeer .katikati #eventsNewspage .uploaders .events #photodisplas img, .containeer .katikati #eventsNewspage .uploaders .events #photodisplasNews img {
  width: 50px;
}

.containeer .katikati #eventsNewspage .uploaders .events .button {
  background-color: black;
  color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 45px;
  min-height: 35px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
  text-align: center;
}

.containeer .katikati #eventsNewspage .uploaders .events .button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02) translateY(-10%);
          transform: scale(1.02) translateY(-10%);
}

.containeer .katikati #eventsNewspage .uploaders .events p {
  margin-top: 30px;
  cursor: pointer;
}

.containeer .katikati #eventsNewspage .uploaders .events p:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02) translateY(-10%);
          transform: scale(1.02) translateY(-10%);
  font-weight: bolder;
  text-decoration: underline;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .katikati #eventsNewspage .uploaders .events {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .katikati #eventsNewspage .uploaders .events {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.containeer .katikati #foodMenupage {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .katikati #foodMenupage .menussHead {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .katikati #foodMenupage .menussHead .logoTitle {
  padding: 10px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 6px orange, 0px 0px 35px rgba(121, 72, 0, 0.842), 0px 0px 50px rgba(255, 177, 32, 0.486), 0px 0px 55px rgba(255, 174, 0, 0.486), 2px -2px 0 #000, -2px 2px 0 #000, 1px 2px 0 #000;
}

.containeer .katikati #foodMenupage .menussHead .logoTitle img {
  width: 50px;
}

.containeer .katikati #foodMenupage .menussHead .socialMedia {
  background-color: #2e3057d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containeer .katikati #foodMenupage .menussHead .socialMedia img {
  height: 25px;
}

.containeer .katikati #foodMenupage .menus {
  background-color: #BDBFC1;
  padding: 0 2vw 0 7vw;
}

.containeer .katikati #foodMenupage .menus .theMenuCont {
  pointer-events: all;
  text-align: center;
  width: 100%;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu {
  margin-bottom: 7vh;
  margin-top: 2vh;
  padding: 10px;
  position: relative;
  max-width: 1000px;
  border: 2px solid black;
  background-color: #f5f5f5;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu h3 {
  font-family: headers;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  background-image: -webkit-gradient(linear, right top, left top, from(#6b809b00), color-stop(#f5f5f5), color-stop(#f5f5f5), color-stop(#f5f5f5), to(#6b809b00));
  background-image: linear-gradient(to left, #6b809b00, #f5f5f5, #f5f5f5, #f5f5f5, #6b809b00);
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu p {
  font-size: smaller;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu div h4 {
  margin-top: 4vh;
  margin-top: 2vh;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  background-image: -webkit-gradient(linear, right top, left top, from(#6b809b00), color-stop(#f5f5f5), color-stop(#f5f5f5), color-stop(#f5f5f5), to(#6b809b00));
  background-image: linear-gradient(to left, #6b809b00, #f5f5f5, #f5f5f5, #f5f5f5, #6b809b00);
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu div .drinks {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  padding-left: 5vw;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu div img {
  width: 20%;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .buttons {
  background-color: #333d49;
  color: #bdbfc1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .buttons:hover {
  background-color: #000000;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .cardi {
  position: relative;
  cursor: pointer;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .cardi .imageHoldersss {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 200;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  background-color: white;
  padding: 7px;
  pointer-events: none;
  border: 2px solid white;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .cardi .imageHoldersss img {
  width: 100%;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenu .cardi:hover .imageHoldersss {
  display: block;
}

.containeer .katikati #foodMenupage .menus .theMenuCont .theMenuFooter {
  min-height: 25vh;
}

.containeer .katikati #foodMenupage .menuList {
  background-color: rgba(0, 0, 0, 0.603);
}

.containeer .katikati #foodMenupage .menuList .holder {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  padding: 5vw;
  font-family: headers;
  font-size: smaller;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.containeer .katikati #foodMenupage .menuList .holder p {
  margin: 1.5vh;
  padding: 7px;
  border-radius: 10px 5px 10px 0;
  border: 2px solid black;
  background-color: #BDBFC1;
  cursor: pointer;
}

.containeer .katikati #checkOutpage {
  background-color: #bdbfc13a;
  padding: 5vw;
  width: 100%;
  min-height: 100vh;
}

.containeer .katikati #checkOutpage .holda .itemo0 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 4fr 3fr 60px 2fr 2fr;
      grid-template-columns: 20px 4fr 3fr 60px 2fr 2fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.containeer .katikati #checkOutpage .holda #itemssl {
  max-width: 700px;
  margin: 0 auto;
}

.containeer .katikati #checkOutpage .holda #itemssl .itemo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 4fr 3fr 60px 2fr 2fr;
      grid-template-columns: 20px 4fr 3fr 60px 2fr 2fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin-top: 10px;
}

.containeer .katikati #checkOutpage .holda #itemssl .itemo img {
  width: 20px;
}

.containeer .katikati #checkOutpage .holda #itemssl .itemo input {
  width: 60px;
}

.containeer .katikati #checkOutpage .holda #lissTotal {
  max-width: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  margin: 0 auto;
  padding: 7px 5vw;
}

.containeer .katikati #checkOutpage .holda .mpesaform {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 7px;
}

.containeer .katikati #checkOutpage .holda .mpesaform .card .inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.containeer .katikati #checkOutpage .holda .mpesaform .card .inputs img {
  width: 40%;
  margin: auto auto;
}

.containeer .katikati #checkOutpage .holda .mpesaform .card .inputs input {
  min-height: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100%;
  min-width: 100%;
  border: 1px solid #2b3990;
}

.containeer .katikati #checkOutpage .holda .mpesaform .card .inputs input:focus {
  outline: none;
  border: 2px solid #2b9069;
}

.containeer .katikati #bookingspage {
  background-color: #bdbfc13a;
  padding: 5vw;
  width: 100%;
  min-height: 100vh;
}

.containeer .katikati #bookingspage .holda .mpesaform {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 17px;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .img img {
  width: 10%;
  margin: 7px auto;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .inputs img {
  width: 40%;
  margin: auto auto;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .inputs input {
  min-height: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100%;
  min-width: 100%;
  border: 1px solid #2b3990;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .inputs input:focus {
  outline: none;
  border: 2px solid #2b9069;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .buttons {
  margin: 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px;
  background-color: #000;
  color: #bdbfc1;
  border-radius: 5px;
  cursor: pointer;
}

.containeer .katikati #bookingspage .holda .mpesaform .card .buttons:hover {
  background-color: #333d49;
}

.containeer .header {
  z-index: 1000;
  padding: 2px 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(36, 35, 43, 0.993);
  width: 100%;
  max-width: 100vw;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containeer .header .semiLogo {
  color: orange;
  font-size: larger;
}

.containeer .header .semiLogo span {
  font-family: logo;
  font-size: larger;
}

.containeer .header .semiLogo i {
  font-size: smaller;
}

.containeer .header .menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 5px;
  text-align: center;
}

.containeer .header .menu .notActive {
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.containeer .header .menu .notActive:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: black !important;
}

.containeer .header .menu .active {
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
  color: orange;
  cursor: pointer;
  background-color: black;
}

.containeer .header .menu svg {
  width: 25px;
}

.containeer .header .menu svg .fillOne {
  fill: #BDBFC1;
}

.containeer .header .menu svg .fillTwo {
  fill: #6B809B;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .header {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .header {
    display: none;
  }
}

.containeer .foooter {
  border-top: 2px solid white;
  min-height: 20vh;
  width: 100%;
  background-color: #2e3057d2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.containeer .foooter .aboutsss {
  background-color: #f5f5f5;
  padding: 3vw 1vw 2vw 7vw;
  margin: 5vh 0 5vh 0;
  text-align: justify;
}

.containeer .foooter .aboutsss h4 {
  color: #1111b4;
}

.containeer .foooter .aboutsss p {
  margin: 5px;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer .foooter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .containeer .foooter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.containeer #phonemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15vh 7vw;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  display: none;
}

.containeer #phonemenu #clicker {
  pointer-events: all;
  position: fixed;
  top: 5vh;
  left: 5vw;
  overflow: visible;
}

.containeer #phonemenu #clicker path {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.containeer #phonemenu #stickOut {
  pointer-events: all;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.containeer #phonemenu #stickOut p {
  width: 80%;
  background-color: #b8b8b8;
  padding: 7px;
  text-align: center;
  border: 2px;
  margin-top: 10px;
}

@media (max-width: 900px) and (min-width: 300px) {
  .containeer #phonemenu {
    display: block;
  }
}

@media only screen and (max-width: 300px) {
  .containeer #phonemenu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */